body {
    margin: 0;
    font-family: 'GT-Eesti 2r',sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Roboto Slab', serif; */
    font-family: 'averia-light', sans-serif;
}

.navigation-wrapper {
   background-color:  #fffef8;
   color: #84735e;
   border-bottom: 6px solid #4f605a;
   display: flex;
   justify-content:space-evenly;
   align-items:center;
   padding: 20px;  
   box-shadow: inset 25px 5px -25px 5px #f3e3ce; 
}

.left-column {
    display: flex;
    align-items:center;   
    text-align: left;
    text-transform: capitalize;
    padding: 1%;
    /* background-position-x: LEFT; */
    
}

.center {
  display: block;
  width: 10%;

}

.header-styles {
    font-family: 'Athens',sans-serif;
    font-size: 1em;
    padding: 1%; 
}


.center-column {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
   
}
.grid {
    /* float: left;
        width: 50%;
    float: right;
        width: 50%; */

    display: grid;
    width: 3%;
    grid-template-columns: 1px, 0fr;
}
   
/* } */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3e8d0;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px #241d12;
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


.center-column .logo {
    display:flex;
    justify-content: center;  
    border-style: solid;
    border-color: #4f605a;
    border-width: 0.2em;
}

.logo img {
    align-items: center;
    width: 250px;
    /* height: 100%;    */
}

.link-wrapper {
    display: flex;
    justify-content:center;
    align-items: center;
    position: center;  
   
}

.nav-link {
    width: 100%;
    text-align: center; 
    font-size: 1.5em;   
    padding: 25px, 25PX;
    position: center;
}

.nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-family: 'acumin-pro-wide', sans-serif;
    font-size: larger;
    color: #84735e;
    text-decoration: none;
    /* transition: 0.5s; */
}

.nav-link a:hover {
    color:#bba885;
    letter-spacing: .2em;  
}


.right-column {
    display: flex;
    align-items: center;  
    text-align: right;
    text-transform: capitalize;
    padding: 1%;
    /* background-position-y: right; */
}

.homepage {
   background-image: url(assets/LittleNook.png);
   padding: 30px;
   height: 550px;
   background-attachment: fixed;
   background-position:center;
   background-repeat: no-repeat;
   background-size: center;

}


/* .top-heading {
   background-color: #9b651e;
   color: #fff;
   width: 200px;
   margin-top: 15px;
   padding: 1px 20px;
   border-radius: 2px;
} */
.mid-heading {
   background-image: url(assets/Main\ Body\ Side\ Image.png);
   padding: 30px 30px;
   height: 500px;
   /* color: #fff; */
   width: 200px;
   border-radius: auto; 
   background-attachment: flex;
   background-position: center;
   background-repeat: no-repeat;

}
/* .bottom-heading {
    background-color: #b89893;
    color: #fff; 
    width: 200px;
    margin-top: 15px;
    padding: 1px 20px;
    border-radius: 2px;  
} */

.features-section {
   height: 200px;
   background-color:   #bba885;
   border-top: 5px solid #4f605a;
   color: #fffef8;
   display: flex;
   justify-content: center;
   font-family: 'Ubuntu Condensed', sans-serif;
   /* font-family: 'acumin-pro-wide', sans-serif; */
   /* box-shadow: inset 0px -26px 79px -8px #a4735e; */
   box-shadow: inset 79px 26px 50px -26px #ebe5c2;
}
.scroll-top-container{ 
    opacity: 1;
    background-color:   #bba885;
    box-shadow: inset 79px -26px 50px -26px #ebe5c2;
    /* right: flex; */
    display: flex;
    justify-content: left;
   
}
.columns-wrapper {
    /* width: 1000px; */
    display: flex;
    justify-content: space-between; 
    border-style: solid;
    border-color: #4f605a;
    border-width: 0.2em;  
}

.column {
    padding: 5px;
    margin: 0px;
    text-align: center;
    border-bottom: 1px solid transparent;
    border-radius: 5px;
    transition: 1s;
}


            
.column:hover {
    border-bottom-color: #fff;
    border-bottom: 5px dashed #ebe5c2;
}

.column :nth-child(1) {
    font-size: 1em; 
}

.column :nth-child(2) {
    font-size: 1em;
    font-weight: 900;
    height: 50px;
    transition: 1s;  
}


.column :nth-child(2):hover {
    letter-spacing: 1.5px;   
}

.column :nth-child(3) {
    letter-spacing: 1.5px;
}

